/*
 * Sketch components
 */

.sketch-container {
	position: absolute;
	right: 0;
	top: 0;
	
	canvas {
		display: block;
	}
}

.sketch-gui {
	position: absolute;
	right: 0;
	bottom: 20px;

	select {
		color: $general-text-color;
	}
}

.sketch-stats {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index:10000;
	cursor:pointer;
	opacity:0.9;
}
