/*
 * Normalize
 *
 * v8.0.0 | MIT License | github.com/necolas/normalize.css
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*
 * Fonts declarations
 */
@font-face {
  font-family: "Font Awesome 4.7";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fontAwesome-4.7.0/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontAwesome-4.7.0/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontAwesome-4.7.0/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontAwesome-4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontAwesome-4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontAwesome-4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fontAwesome-5.2.0/fa-brands-400.eot");
  src: url("../fonts/fontAwesome-5.2.0/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fontAwesome-5.2.0/fa-brands-400.woff2") format("woff2"), url("../fonts/fontAwesome-5.2.0/fa-brands-400.woff") format("woff"), url("../fonts/fontAwesome-5.2.0/fa-brands-400.ttf") format("truetype"), url("../fonts/fontAwesome-5.2.0/fa-brands-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'Font Awesome 5 Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fontAwesome-5.2.0/fa-regular-400.eot");
  src: url("../fonts/fontAwesome-5.2.0/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fontAwesome-5.2.0/fa-regular-400.woff2") format("woff2"), url("../fonts/fontAwesome-5.2.0/fa-regular-400.woff") format("woff"), url("../fonts/fontAwesome-5.2.0/fa-regular-400.ttf") format("truetype"), url("../fonts/fontAwesome-5.2.0/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'Font Awesome 5 Solid';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fontAwesome-5.2.0/fa-solid-900.eot");
  src: url("../fonts/fontAwesome-5.2.0/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fontAwesome-5.2.0/fa-solid-900.woff2") format("woff2"), url("../fonts/fontAwesome-5.2.0/fa-solid-900.woff") format("woff"), url("../fonts/fontAwesome-5.2.0/fa-solid-900.ttf") format("truetype"), url("../fonts/fontAwesome-5.2.0/fa-solid-900.svg#fontawesome") format("svg");
}
.fab, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}

.far {
  font-family: 'Font Awesome 5 Regular';
  font-weight: 400;
}

.fas {
  font-family: 'Font Awesome 5 Solid';
  font-weight: 900;
}

/*
 * Icons
 */
.menu-icon:before {
  font-family: "Font Awesome 5 Solid";
  font-weight: 900;
  content: "\f0c9";
}

.back-icon:before {
  font-family: "Font Awesome 5 Solid";
  font-weight: 900;
  content: "\f52b";
}

.love-icon:before {
  font-family: "Font Awesome 5 Regular";
  content: "\f004";
}

.envelope-icon:before {
  font-family: "Font Awesome 5 Regular";
  content: "\f0e0";
}

.phone-icon:before {
  font-family: "Font Awesome 5 Solid";
  font-weight: 900;
  content: "\f095";
}

.noSpam-icon:before {
  font-family: "Font Awesome 4.7";
  content: "\f1fa";
}

.handMade-icon:before {
  font-family: "Font Awesome 5 Solid";
  font-weight: 900;
  content: "\f1b0";
}

.up-icon:before {
  font-family: "Font Awesome 5 Solid";
  font-weight: 900;
  content: "\f106";
}

.down-icon:before {
  font-family: "Font Awesome 5 Solid";
  font-weight: 900;
  content: "\f107";
}

.js-icon:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f3b8";
}

.code-icon:before {
  font-family: "Font Awesome 5 Solid";
  font-weight: 900;
  content: "\f121";
}

.github-icon:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09b";
}

/*
 * General styling
 */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.4;
  color: #333333;
}

a {
  text-decoration: none;
  color: #6666ff;
}
a:hover, a:focus {
  text-decoration: underline;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #666666;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
}

h2 {
  font-size: 2.6em;
}
@media (max-width: 816px) {
  h2 {
    font-size: 2.2em;
  }
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p {
  max-width: 1152px;
}

figure {
  margin: 0;
}

/*
 * General layout
 */
html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
}

.main-container {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.footer-container {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

.nav-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.nav-header {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

.nav-menu-wrapper {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.nav-menu-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 816px) {
  .nav-header {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
  }

  .nav-menu-wrapper {
    position: absolute;
    top: 0.3em;
    left: 0;
  }

  .nav-menu-wrapper {
    display: block;
  }
}
/*
 * Navigation bar components
 */
.nav-container {
  width: 100%;
  padding: 0.3em;
  border-bottom: 0.0625em solid rgba(102, 102, 102, 0.96);
  margin: 0;
  background: linear-gradient(to right, rgba(26, 26, 26, 0.96), rgba(64, 64, 64, 0.96) 30%, rgba(64, 64, 64, 0.96) 70%, rgba(26, 26, 26, 0.96));
}
.nav-container a:hover, .nav-container a:focus {
  text-decoration: none;
}
.nav-container ul {
  padding: 0;
  margin: 0;
}
.nav-container li {
  display: inline-block;
  list-style-type: none;
}

.nav-header {
  width: 14em;
  margin: 0;
  font-size: 1.0em;
}

.nav-item {
  display: block;
  min-width: 4em;
  padding: 0.3375em 0.6375em;
  border: 0.0625em solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-size: 1.0em;
  text-align: center;
  white-space: nowrap;
  color: #e6e6e6;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 0.6s, background-color 0.6s;
}
.nav-item:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

.is-header-item {
  padding: 0.4em 0.7em;
  border: 0;
  background-color: transparent;
}
.is-header-item:hover {
  background-color: transparent;
}

.is-menu-item {
  display: none;
  min-width: 0;
}

.is-active-item {
  background-color: rgba(0, 150, 255, 0.7);
}
.is-active-item:hover {
  background-color: #0096ff;
}

@media (max-width: 816px) {
  .nav-menu-wrapper:hover {
    width: 100%;
  }

  .is-menu-item {
    display: inline-block;
    padding: 0.3375em 0.6375em;
    border: 0.0625em solid rgba(255, 255, 255, 0.1);
    margin-left: 0.3em;
  }
  .nav-menu-wrapper:hover .is-menu-item {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .nav-menu-list {
    display: none;
  }
  .nav-menu-list:first-of-type {
    margin-top: 0.3em;
  }
  .nav-menu-wrapper:hover .nav-menu-list {
    display: block;
    background: linear-gradient(to right, rgba(26, 26, 26, 0.96), rgba(64, 64, 64, 0.96) 30%, rgba(64, 64, 64, 0.96) 70%, rgba(26, 26, 26, 0.96));
  }
  .nav-menu-list li {
    display: list-item;
    border-top: 0.0625em solid rgba(255, 255, 255, 0.1);
  }
  .nav-menu-list .nav-item {
    padding: 0.4em 0.7em;
    border: 0;
    border-radius: 0;
    text-align: left;
  }
}
/*
 * Content components
 */
.main-container {
  padding: 2.5em 10% 0 10%;
}

.content {
  padding-bottom: 2em;
}

.example-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.example-list nav {
  -ms-flex: 0 0 48%;
      flex: 0 0 48%;
}
.example-list ul {
  padding: 0;
  margin: 0;
}
.example-list li {
  list-style-type: none;
}
.example-list a {
  display: block;
  padding: 0.4em;
  margin-bottom: 0.3em;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  color: #333333;
  background-color: #f2f2f2;
  transition: background-color 0.6s;
}
.example-list a:hover, .example-list a:focus, .example-list a.active-sketch {
  text-decoration: none;
  color: white;
  background-color: #bfbfbf;
}

@media (max-width: 1440px) {
  .main-container {
    padding: 2.5em 5% 0 5%;
  }
}
@media (max-width: 816px) {
  .example-list {
    display: block;
  }
}
/*
 * Sketch components
 */
.sketch-container {
  position: absolute;
  right: 0;
  top: 0;
}
.sketch-container canvas {
  display: block;
}

.sketch-gui {
  position: absolute;
  right: 0;
  bottom: 20px;
}
.sketch-gui select {
  color: #333333;
}

.sketch-stats {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10000;
  cursor: pointer;
  opacity: 0.9;
}

/*
 * Footer components
 */
.footer-container {
  padding: 0 10%;
}

.footer-content {
  border-top: 1px dotted #cccccc;
  color: #666666;
}

.separator {
  padding: 0 0.5em;
}

@media (max-width: 1440px) {
  .footer-container {
    padding: 0 5%;
  }
}
